<%- layout("/layouts/boilerplate.ejs") %>

<div class="page-container">
	<h1><%= data.title %></h1>

	<p class="description"><%= data.description %></p>

	<div class="img-container">
		<img src="<%= data.url %>" alt="<%= data.title %>" />

	</div>
	<p class="fact"><%= data.fact %></p>
</div>
